

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  // outline: 1px red solid;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  font-family: 'onest', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: fixed linear-gradient(rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'onest';
  src: url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
